@import "../../global.scss";
.portfolio{
    background-color: crimson;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;


    .arrow{
        height: 60px;
        position: absolute;
        cursor: pointer;


        &.left{
            left: 100px;
            transform: rotateY(180deg);

            @include mobile{ 
                left: 0px;
                
            }
        }

        &.right{
            right: 100px;
            @include mobile{
                
                right: 0px
            }
        }
    } 


    .slider{
        height: 350px;
        display: flex;
        position: absolute;
        left: 0;
        transition: all 1s ease-out;

        .container{
            width: 100vw;
            display: flex;
            align-items: center;
            justify-content: center;

            .item{
                width: 700px;
                height: 100%;
                background-color: white;
                border-radius: 20px;
                display: flex;
                align-items: center;
                justify-content: center;
                position: relative;
                color: white;

                img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    z-index: 1;
                }
                .description{
    
                    position: absolute;
                    font-size: 20px;

                    button{
                        cursor: pointer;
                    }
                }

                &:hover{
                    background-color: $mainColor;
                    img{
                        opacity: 0.2;
                        z-index: 0;
                    }
    
                }

            }
            

        }
    }
}