@import "../../global.scss";

.aboutMe{
    background-color: $mainColor;
    display: flex;
    flex-direction: column;
    align-items: center;

    img{
        border-radius: 50%;
        max-width: 100%;
        height: auto;
    }
    

    .items{
        
        position: relative;
       position: block;
       width: 80%;
        height: 100%;
        
        .wrapper{
            
            margin-top: 20px;
            align-items: center;
            justify-content: center;
            display: flex;
            text-align: left;
            flex-direction: column;
            
            p{
                color: white;
                span{
                    font-size: 40px;
                    color: crimson;
                    font-weight: bold;
                }
            }
            button{
                margin: 20px;
                background-color: crimson;
                color: white;
                border: none;
                border-radius: 10px;
                font-size: 20px;
                padding: 10px 20px;

            }
           
           

        }

    }
}